<form name="register" class="form-signin" novalidate ng-submit="submit()">
  <h1 class="form-signin-heading text-muted">Login</h1>

  <input name="email" ng-model="email" type="email" class="form-control" placeholder="Email address" required>
  <div class="help-block" ng-messages="register.email.$error" ng-if="register.email.$dirty" ng-messages-include="form-messages">
  </div>

  <input name="password" ng-model="password" type="password" class="form-control" placeholder="Password" required>

  <div class="help-block" ng-if="register.confirm.$dirty" ng-messages="register.password.$error" ng-messages-include="form-messages"></div>
  <button ng-disabled="register.$invalid" class="btn btn-lg btn-primary btn-block" type="submit">
    Login
  </button>
  <br>
  <a class="text-muted pull-right" ui-sref="register">Create Account</a>
  <button class="btn btn-lg btn-primary btn-block" type="button" ng-click="authenticate('google')">
    Google
  </button>
   <button class="btn btn-lg btn-primary btn-block" type="button" ng-click="authenticate('facebook')">
    Facebook
  </button>
</form>
<script type="text/ng-template" id="form-messages">
  < div ng-message = "required"> This field cannot be blank </div>
  <div ng-message="email">You have entered an incorrect email value</div >
</script>
